<header>
    <div class="col">
    </div>
    <nav>
        <ul>
            <li class="has-submenu">
                <a href="./canto_i/">The Cantos<i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4>The Infinite Interior</h4>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="./canto_i/" class="link-arrow">Canto I</a></li>
                                    <li><a href="./canto_ii/" class="link-arrow">Canto II</a></li>
                                    <li><a href="./canto_iii/" class="link-arrow">Canto III</a></li>
                                    <li><a href="./canto_iv/" class="link-arrow">Canto IV</a></li>
                                    <li><a href="./canto_v/" class="link-arrow">Canto V</a></li>
                                    <li><a href="./canto_vi/" class="link-arrow">Canto VI</a></li>
                                    <li><a href="./canto_vii/" class="link-arrow">Canto VII</a></li>
                                    <li><a href="./canto_viii/" class="link-arrow">Canto VIII</a></li>
                                    <li><a href="./canto_ix/" class="link-arrow">Canto IX</a></li>
                                    <li><a href="./canto_x/" class="link-arrow">Canto X</a></li>
                                    <li><a href="./canto_xi/" class="link-arrow">Canto XI</a></li>
                                    <li><a href="./canto_xii/" class="link-arrow">Canto XII</a></li>
                                    <li><a href="./canto_xiii/" class="link-arrow">Canto XIII</a></li>
                                    <li><a href="./canto_xiv/" class="link-arrow">Canto XIV</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="has-submenu">
                <a href="./buddha_blues/">Buddha Blues<i class="arrow"></i></a>
                <div class="submenu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-5 text-right">
                                <h4>Four Posed Truths</h4>
                            </div>
                            <div class="col-md-4 offset-md-1">
                                <ul>
                                    <li><a href="./buddha_blues/stand.html" class="link-arrow">Stand</a></li>
                                    <li><a href="./buddha_blues/sit.html" class="link-arrow">Sit</a></li>
                                    <li><a href="./buddha_blues/lie.html" class="link-arrow">Lie</a></li>
                                    <li><a href="./buddha_blues/repeat.html" class="link-arrow">Repeat</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
            <li class="<% if(is_current('four_part_harmony')) { %>active<% } %>"><a href="./four_part_harmony/">Four Part Harmony</a></li>
            <li class="<% if(is_current('fugue_i')) { %>active<% } %>"><a href="./fugue_i/">Fugue I</a></li>
            <li class="<% if(is_current('fugue_ii')) { %>active<% } %>"><a href="./fugue_ii/">Fugue II</a></li>
            <li class="<% if(is_current('tangled_bank')) { %>active<% } %>"><a href="./tangled_bank/">Tangled Bank</a></li>
        </ul>
    </nav>
    <div class="col btns text-right">
    </div>
    <a href="#" class="mobile-nav-trigger">
        <svg width="22" height="8" viewBox="0 0 22 8" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect width="22" height="1" rx="0.5" fill="#090909"/> <rect y="7" width="22" height="1" rx="0.5" fill="#090909"/> </svg>
    </a>
    <div class="mobile-nav">
        <div class="mobile-nav-header">
            <a href="#" class="mobile-nav-trigger-close">
                <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg"> <rect x="1.5752" y="0.368273" width="22" height="1" rx="0.5" transform="rotate(45 1.5752 0.368273)" fill="#090909"/> <rect x="0.868164" y="15.9246" width="22" height="1" rx="0.5" transform="rotate(-45 0.868164 15.9246)" fill="#090909"/> </svg>
            </a>
        </div>
    </div>
    <div class="backdrop"></div>
</header>