<!-- GitHub star -->
<a class="github-button" href="https://github.com/andytudhope" data-icon="octicon-star" data-show-count="true" aria-label="Check my other work on GitHub">Star</a>
<!-- Twitter follow button -->
<a href="https://twitter.com/cryptowanderer" class="twitter-follow-button" data-show-count="true">Follow @cryptowanderer</a>
<!-- Github Button -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Twitter share button -->
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
