<!-- The main content area -->
<main id="main" role="main">

	<div class="stripe">
		<b>The Blue Book</b>
	</div>

	<section class="single-docs-content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 col-xl-2">
					<%- partial('partial/sidebar') %>
				</div>
				<div class="col-md-9 col-xl-8">
					<div class="row">
						<div class="col-md-12">
							<div class="editor-content">
								<%- page_anchor(page.content) %>
							</div>
							<div class="docs-footer">
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-12 col-xl-2 d-none d-xl-block">
					<div class="right-sub-navigation">
						<ul></ul>
					</div>
				</div>
			</div>
		</div>
	</section>

</main>